
    <div style="background-color: #F1F3F6;">
        <br id='am'><h2 align='center' style="font-size:40px; font-family:Times-Italic; background-color:#F1F3F6";><i><br><b>About Me</b></i></h2>
        <p align='center' style="font-size: 20px; font-family:Arial Verdana; line-height:30px;background-color: #F1F3F6;"><br><br>I am currently pursuing my Btech in Computer Science & Engineering from VIT University Chennai Campus. I like bilding Web Applications, Desktop Applications and making various Illustrations (Adobe Illustrator). There is a lot to learn in Web Development and Graphic Designing from my side and looking forward to make some projects on the same. Besides, for refreshments I spent my time doing designing (photo/video editing), play many outdoor games and listen to good music.</p><br>
        <div style='overflow-x:auto;'>
            <table border=0px style="width:1650px; margin-left:20px; margin-right:20px;" >
              <tr>
                <td style='padding:20px'>
              <div>
                <div class="thumbnail">
                  
                    <img src="images/dev.jpg" alt="Lights" style="width:100%; height:300px">
                    <div class="caption">
                      <p  align='center' style="font-size: 22px; font-family:Trebuchet MS; line-height:35px;">As a CS student, I have always been fond of <b><u>building responsive Web Apps</b></u> with JavaScript as <b><u>Frontend</u></b>; NodeJS, ExpressJS & REST API as <b><u>Backend</u></b> and MongoDB as <b><u>Database</u></b> and have built many projects</p>
                    </div>
                  
                </div>
              </div>
            </td>
            
            <td style='padding:20px'>
              <div>
                <div class="thumbnail">
                  
                    <img src="images/GD.jpg" alt="Graphic Designing" style="width:100%; height:300px">
                    <div class="caption">
                      <p align='center' style="font-size: 22px; font-family:Trebuchet MS; line-height:35px;">I am very passionate about Designing, so I spent my leisure time by making various <u><b>illustrations, re-designing logos & business cards</b></u> for comapanies & <u><b>making posters</b></u> for various events.</p>
                    </div>
                  
                </div>
              </div>
              </td>
    
              <td style='padding:20px'>
              <div >
                <div class="thumbnail">
                  
                    <img src="images/edit1.jpg" alt="Nature" style="width:100%;  height:300px">
                    <div class="caption">
                      <p align='center'  style="font-size: 22px; font-family:Trebuchet MS; line-height:35px;">Being a tech student, I love editing code and like to see the resulting output on screen. Often in my freetime I work on my <u><b>audio/video editing and photo editing skills</b></u>.</p>
                    </div>
                  
                </div>
              </div>
              </td>
            <td style='padding:20px'>
              <div>
                <div class="thumbnail">
                  
                    <img src="images/cricket.jpg" alt="Fjords" style="width:100%; height:300px">
                    <div class="caption">
                      <p align='center' style="font-size: 22px; font-family:Trebuchet MS; line-height:35px;">From my chidlhood, I am always passionate of <u><b>playing sports especially cricket</b></u>. Whenever I am tired from my daily routine I just go on the field and play cricket with my friends.</p>
                    </div>
                  
                </div>
              </div>
            </td>
            
          </tr></table>
          </div>
      
                <br><br>