<table align='center' style="background-color: #F1F3F6;width:100%">
    <tr colspan=2>
      <td align='center'><h2 style="font-size:40px; font-family:Times-Italic;"><i><b>Educational Qualifications<br></b></i></h2></td>
    </tr>
    <tr>
      <td align='center'><h4 style="font-size: 19px; font-family:Trebuchet MS; line-height:35px;">Currently persuing B-tech in Computer Science and Engineering from <q>VIT Chennai</q> :- 9.07 / 10</b></h4></td>
    </tr>
    <tr>
      <td align='center'><h4 style="font-size: 19px; font-family:Trebuchet MS; line-height:35px;">12th (HSC Science with CS, Maharashtra State Board) from <q>Bhavans College</q>, Mumbai :- 87.1%</h4></td>
    </tr>
    <tr>
      <td align='center'><h4 style="font-size: 19px; font-family:Trebuchet MS; line-height:35px;">10th (SSC, Maharashtra State Board) from <q>Bhavans A.H. Wadia High School</q>, Mumbai :- 90.6%<br><br></h4></td>
    </tr>
  </table></div></div>
