<br/><br/>
<table align='center' width=100% style="background-color: white;">
  <tr><td>
<div id='panel'>
  <div class="w3-container">
        <br>
        <h2 align='center' style="font-size:40px; font-family:Times-Italic;"><b><i>Internships</i></b></h2>
        <br><br></div>
  <div id='panels1' style="background-color: white;">

        <h1 style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;">&nbsp;<img class='example12' src='/images/verzeo.png' width=60px height=20px> &nbsp;<span class='example'>Verzeo: ML Internship </span></h1>
        <p style="font-size:19px; font-family:Trebuchet MS; line-height:35px;">
          <b>Verzeo: Machine Learning Internship - 2 months (1st March 2021 - 31st April 2021)</b><br/>- &nbsp;&nbsp;Here I got to learn about many of the Supervised and Unsupervised ML Algorithms and also the Math behind it. 
          - &nbsp;&nbsp;I also got familiar with the Exploratory Data Analysis Concepts and also about OpenCV-Python library.
We were given two projects – 1 Minor Project and 1 Major Project.<br/>- &nbsp;&nbsp;
In the Minor project (Individual Project) we were given a dataset on which we had to perform EDA and answer the questions given (using the Pandas).<br/>- &nbsp;&nbsp;
Then in the Major project (which was a group project) we were asked to create a Human Skin tone detection web app. Our group had two teams - Web Design team which was responsible for the UI and the front end of the website The backed team - the ML team which I was a part of - was responsible for making the model which would predict the Human Skin tone from the given image. Due to this project I got to learn about many of the advanced ML concepts like OpenCV-Python and face detection mechanisms (haar-cascade classifier).<br/>- &nbsp;&nbsp;
After the completion of the project, we were asked to give a final review of our project. During the final review, while presenting our project to the organization, one of my teammates who was from the Web Design team, presented it and explained the web technology which we used in our project and from the Machine Learning team, I explained the ML concepts and the tools which we used in our project.<br/>- &nbsp;&nbsp;
Due to the major project, I learnt how to collaboratively work in a team and contribute to the team as a whole.<br>
- &nbsp;&nbsp;<a href='https://drive.google.com/file/d/1UQ3AurDnrVZTDSA8uYZ6tHe0UAGW8FRX/view?usp=sharing' target="_blank"><span style='color: blue'>View Course Completion Certificate</span></a><br/>
- &nbsp;&nbsp;<a href='https://drive.google.com/file/d/1M-C-e_aleZNveNWUTfKhFy5oKo9zJZ2p/view?usp=sharing' target="_blank"><span style='color: blue'>View Internship Certificate</span></a></p>

<h1 style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;">&nbsp;&nbsp;&nbsp;&nbsp;<img class='example2' src='/images/tsf.png' width=30px height=30px> &nbsp;<span class='example'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Sparks Foundation</span></h1>
<p style="font-size:19px; font-family:Trebuchet MS; line-height:35px;"><b>The Sparks Foundation - Web Development and Designing Intern - July 2021</b><br/>
- &nbsp;&nbsp; I had been given a task where I had to built a responsive banking web app. 
<br/>- &nbsp;&nbsp; <b>Tools</b> used: - HTML, CSS, JavaScript, jQuery, PHP and MySQL DB
<br/>- &nbsp;&nbsp; The web app was having the following functionalities: -
<br/>1) Any user who wants to avail our services can make a account with a minimum balance of 1500
<br/>2) The username must be unique or else the registration can't be done
<br/>3) The user can transfer funds to anyone he wishes (valid beneficiary)
<br/>4) Can view his balance
<br/>5) Can view his transaction history 
<br/>6) Lastly, the most importantly I hosted the website along with the Database on a server - webhostapp.com

<br/>- &nbsp;&nbsp; The main thing I learnt from this internship is about Designing. I tried to make the website as appealing as possible.
<br/>- &nbsp;&nbsp; I also learnt about Github repositories and also to host the website on a server (webhostapp.com)
<br/>- &nbsp;&nbsp;<a href='https://www.linkedin.com/posts/sahil-donde-b788a4193_task1-gripjuly21-gripjuly2021-activity-6818533288127283200-JnOj' target="_blank"><span style="color: blue">View Task</span></a>
</a>
<br/>- &nbsp;&nbsp;<a href='https://drive.google.com/file/d/1q59fGyvjLlhqDVzX_4roUBsKqE2ZJv3Y/view?usp=sharing' target="_blank"><span style="color: blue">View Selection Certificate</span></a>
<br/>- &nbsp;&nbsp;<a href='https://drive.google.com/file/d/1zrY__RkVXJqf2U9l4cz4Hoq4Wft8w4ni/view?usp=sharing' target="_blank"><span style="color: blue">View Completion Certificate</span></a>
<br/>- &nbsp;&nbsp;<a href='https://github.com/Sahil0705/Basic_Banking_System_TSF' target="_blank"><span style="color: blue">Code Repository</span></a></p>

<h1 style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;">&nbsp;<img src='/images/lgm.jfif' width=40px height=40px> &nbsp;<span class='example'>LetsGrowMore: GD Internship </span></h1>
        <p style="font-size:19px; font-family:Trebuchet MS; line-height:35px;">
          <b>LetsGrowMore: Graphic Designing Internship - 2 months (12th August 2021 - 30th September 2021)</b><br/>
          <b>Previous Works in Designing Posters: -</b>
I have designed some Logos, Business Cards, Posters, Print-Adds,
Social Media Ads as part of my self-learnings and certifications.
I also like to Re-design already existing logos/posters. Apart from that,
I have also done a Graphic Designing Course where I learnt some more
important theoretical and practical concepts related to Designing. I
make my illustrations on Adobe Illustrator.
<br>
<b>As a Graphic Design Intern at LetsGrowMore: -</b>
We interns are asked to make social media posters on various topics.
Every week, each one of us are asked to make 1 poster, where we
design the posters, but the content is given by the team leads.
I learnt lot of concepts related to designing and also had a great hands on Adobe Illustrator and Canva.
I also learnt how to contribute to the team as an individual
<br>
<b>My Interest towards Graphic Designing: -</b>
I was always fascinated and interested towards Digital Arts. Often in
my free time, I spend some time by making various illustrations and
Artworks. By watching some YouTube videos related to Graphic
Designing I keep improving myself. I want to explore myself more in
the Graphic Designing field by getting hands-on real-time experience. I
want to join the community so that I can improve and grow myself in
this field.
          <br>
- &nbsp;&nbsp;<a href='https://drive.google.com/file/d/1UQ3AurDnrVZTDSA8uYZ6tHe0UAGW8FRX/view?usp=sharing' target="_blank"><span style='color: blue'>View Course Completion Certificate</span></a><br/>
- &nbsp;&nbsp;<a href='https://drive.google.com/file/d/1M-C-e_aleZNveNWUTfKhFy5oKo9zJZ2p/view?usp=sharing' target="_blank"><span style='color: blue'>View Internship Certificate</span></a>
<br>- &nbsp;&nbsp;<a href='#lgm'><span style='color: blue'>View Posts</span></a></p>

<h1 style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;">&nbsp;&nbsp;<img class='example2' src='/images/VIT_1.png' width=120px height=40px> &nbsp;&nbsp;<span class='example'>Social Media Designer</span></h1>
<p style="font-size:19px; font-family:Trebuchet MS; line-height:35px;"><b>Social Media Designer - Office of Outreach - (Oct 2021 - Present) </b><br/>
  <b>VIT Chennai</b><br/>
</div>
</div>
</td></tr></table>