<p id="home"></p>
<nav class="navbar navbar-inverse" style="top:0; right:0; left:0; position:fixed; z-index: 23;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#co" style='font-family: Trebuchet MS, sans-serif;
    font-size:19px; color:white;'>Sahil - Portfolio</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a id='abc' href="#home">Home</a></li>
          <li><a id='abc' href="#aboutMe">About Me</a></li>
          <li><a id='abc' href="#skills">Skills</a></li>
          <li><a id='abc' href="#myProjects">Projects</a></li>
          <li><a id='abc' href="#work_exp">Work Experience</a></li>
          <li><a id='abc' href="#certificates">Certificates</a></li>
          <li><a id='abc' href="#artworks">Artworks</a></li>
          <li><a id='abc' href="#contacts">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <br><br><br><br><br>

  <!-- <p id="home"><br></p> -->
<table align='center' >
  <tr>
    <td align='center'>
        <br><img src='images/self_img.jpg' id='I'/></td>
  </tr>
</table>
<h2 align='center' id='f' style="font-family:Comic Sans MS; font-size:45px; color:white;"><b>Sahil Donde</b></h2>
<!-- <p align='center' style="font-family:Trebuchet MS ; font-size:30px; color:white;"><i><b>Incoming Software Engineer Trainee @ Policy Bazaar</b></i></span>&nbsp;&nbsp;<img src='../images/PB.jpg' width="90px" height="40px" style=""><br> -->
  <p align='center' style="font-family:Trebuchet MS ; font-size:30px; color:white;"><i><b>Technical Associate @ PolicyBazaar.com</b></i></span><br>
<p align='center' style="font-family:Trebuchet MS ; font-size:30px; color:white;"><i><b>MERN Stack Developer | Oracle Certified | 5&#127775 @ <a id='a1' href='https://www.hackerrank.com/sahildonde7' target="_blank">HackerRank</a></b></i></span><br>
  <hr width=350%>
<p align='center' style="font-family:Trebuchet MS; font-size:20px; color:white;"></span></p>
    <p align='center' style="font-family:Trebuchet MS; font-size:20px; color:white;"><i><b>VIT Chennai</b></i></span></p>
  <p align='center' style="font-family:Trebuchet MS; font-size:20px; color:white; text-decoration:underline;"><i><b><a id='a1' href='https://drive.google.com/file/d/14yA8wfUEl39hRWAAR_T42apmNmC6PLge/view' target="_blank">Resume</a></b></i></span><br>

<a href='#home'><img id='zook' src='../images/up_arrow.png' width="40px" height="40px" style="position: fixed;right:20px;bottom:20px;z-index:10; opacity: 0.9;"></a>
<a href='#footer'><img id='zook' src='../images/down_arrow.png' width="40px" height="40px" style="position: fixed;left:20px;bottom:20px;z-index:10; opacity: 0.9;"></a>