<p id="h"></p>
<nav class="navbar navbar-inverse" style="top:0; right:0; left:0; position:fixed; z-index: 23;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#co" style='font-family: Trebuchet MS, sans-serif;
    font-size:19px; color:white;'>Sahil - Portfolio</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a id='abc' href="#h">Home</a></li>
          <li><a id='abc' href="#am">About Me</a></li>
          <li><a id='abc' href="#S">Skills</a></li>
          <li><a id='abc' href="#mp">Projects</a></li>
          <li><a id='abc' href="#cer">Certificates</a></li>
          <li><a id='abc' href="#art">Artworks</a></li>
          <li><a id='abc' href="#cd">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <br><br><br><br>

  <p id="h"><br></p>
<table align='center' >
  <tr>
    <td align='center'>
        <br id="h"><img src='images/Sahil1.jpeg' id='I'/></td>
  </tr>
</table>
<h2 align='center' id='f' style="font-family:Comic Sans MS; font-size:45px; color:white;"><b>Sahil Donde</b></h2>
<p align='center' style="font-family:Trebuchet MS ; font-size:30px; color:white;"><i><b>Oracle Certified | Web Development - MERN Enthusiast | 5&#127775 @ <a id='a1' href='https://www.hackerrank.com/sahildonde7' target="_blank">HackerRank</a></b></i></span><br>
  <hr width=350%>
<p align='center' style="font-family:Trebuchet MS; font-size:20px; color:white;"></span></p>
    <p align='center' style="font-family:Trebuchet MS; font-size:20px; color:white;"><i><b>3rd Year Computer Science student at VIT Chennai</b></i></span></p>
  <p align='center' style="font-family:Trebuchet MS; font-size:20px; color:white; text-decoration:underline;"><i><b><a id='a1' href='https://drive.google.com/file/d/1NbqMFjYda8epc6kK-X64H0PkNNcdCuJ2/view?usp=sharing' target="_blank">Resume</a></b></i></span><br>

<a href='#h'><img id='zook' src='../images/up_arrow.png' width="40px" height="40px" style="position: fixed;right:20px;bottom:20px;z-index:10; opacity: 0.9;"></a>
<a href='#ft'><img id='zook' src='../images/down_arrow.png' width="40px" height="40px" style="position: fixed;left:20px;bottom:20px;z-index:10; opacity: 0.9;"></a>