<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sahil Sachin Donde</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href= "css/style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <script src='jquery-ui/jquery-ui.js' type='text/javascript'></script>
  <link rel='stylesheet' href='/jquery-ui/jquery-ui.css'>
  <link rel='stylesheet' href='/jquery-ui/jquery-ui.structure.css'>
  <link rel='stylesheet' href='/jquery-ui/jquery-ui.theme.css'>
  
</head>
<body>

<nav class="navbar navbar-inverse" style="top:0; right:0; left:0; position:fixed; z-index: 23;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#co" style='font-family: Trebuchet MS, sans-serif;
  font-size:19px; color:white;'>Sahil - Portfolio</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a id='abc' href="#h">Home</a></li>
        <li><a id='abc' href="#am">About Me</a></li>
        <li><a id='abc' href="#S">Skills</a></li>
        <li><a id='abc' href="#mp">Projects</a></li>
        <li><a id='abc' href="#work_exp">Work Experience</a></li>
        <li><a id='abc' href="#cer">Certificates</a></li>
        <li><a id='abc' href="#art">Artworks</a></li>
        <li><a id='abc' href="#cd">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<br><br><br><br>
<p id="h"><br></p>
<table align='center' >
  <tr>
    <td align='center'>
        <br id="h"><img src='images/Sahil1.jpeg' id='I'/></td>
  </tr>
</table>
<h2 align='center' id='f' style="font-family:Comic Sans MS; font-size:45px; color:white;"><b>Sahil Donde</b></h2>
<p align='center' style="font-family:Trebuchet MS ; font-size:30px; color:white;"><i><b>Oracle Certified | Web Development - MERN Enthusiast | 5&#127775 @ <a id='a1' href='https://www.hackerrank.com/sahildonde7' target="_blank">HackerRank</a></b></i></span><br>
  <hr width=350%>
<p align='center' style="font-family:Trebuchet MS; font-size:20px; color:white;"></span></p>
    <p align='center' style="font-family:Trebuchet MS; font-size:20px; color:white;"><i><b>3rd Year Computer Science student at VIT Chennai</b></i></span></p>
  <p align='center' style="font-family:Trebuchet MS; font-size:20px; color:white; text-decoration:underline;"><i><b><a id='a1' href='https://drive.google.com/file/d/1NbqMFjYda8epc6kK-X64H0PkNNcdCuJ2/view?usp=sharing' target="_blank">Resume</a></b></i></span><br>
    
    <div style="background-color: #F1F3F6;">
    <br id='am'><h2 align='center' style="font-size:40px; font-family:Times-Italic; background-color:#F1F3F6";><i><br><b>About Me</b></i></h2>
    <p align='center' style="font-size: 20px; font-family:Arial Verdana; line-height:30px;background-color: #F1F3F6;"><br><br>I am currently pursuing my Btech in Computer Science & Engineering from VIT University Chennai Campus. I like bilding Web Applications, Desktop Applications and making various Illustrations (Adobe Illustrator). There is a lot to learn in Web Development and Graphic Designing from my side and looking forward to make some projects on the same. Besides, for refreshments I spent my time doing designing (photo/video editing), play many outdoor games and listen to good music.</p><br>
    <div style='overflow-x:auto;'>
        <table border=0px style="width:1650px; margin-left:20px; margin-right:20px;" >
          <tr>
            <td style='padding:20px'>
          <div>
            <div class="thumbnail">
              
                <img src="images/dev.jpg" alt="Lights" style="width:100%; height:300px">
                <div class="caption">
                  <p  align='center' style="font-size: 22px; font-family:Trebuchet MS; line-height:35px;">As a CS student, I have always been fond of <b><u>building responsive Web Apps</b></u> with JavaScript as <b><u>Frontend</u></b>; NodeJS, ExpressJS & REST API as <b><u>Backend</u></b> and MongoDB as <b><u>Database</u></b> and have built many projects</p>
                </div>
              
            </div>
          </div>
        </td>
        
        <td style='padding:20px'>
          <div>
            <div class="thumbnail">
              
                <img src="images/GD.jpg" alt="Graphic Designing" style="width:100%; height:300px">
                <div class="caption">
                  <p align='center' style="font-size: 22px; font-family:Trebuchet MS; line-height:35px;">I am very passionate about Designing, so I spent my leisure time by making various <u><b>illustrations, re-designing logos & business cards</b></u> for comapanies & <u><b>making posters</b></u> for various events.</p>
                </div>
              
            </div>
          </div>
          </td>

          <td style='padding:20px'>
          <div >
            <div class="thumbnail">
              
                <img src="images/edit1.jpg" alt="Nature" style="width:100%;  height:300px">
                <div class="caption">
                  <p align='center'  style="font-size: 22px; font-family:Trebuchet MS; line-height:35px;">Being a tech student, I love editing code and like to see the resulting output on screen. Often in my freetime I work on my <u><b>audio/video editing and photo editing skills</b></u>.</p>
                </div>
              
            </div>
          </div>
          </td>
        <td style='padding:20px'>
          <div>
            <div class="thumbnail">
              
                <img src="images/cricket.jpg" alt="Fjords" style="width:100%; height:300px">
                <div class="caption">
                  <p align='center' style="font-size: 22px; font-family:Trebuchet MS; line-height:35px;">From my chidlhood, I am always passionate of <u><b>playing sports especially cricket</b></u>. Whenever I am tired from my daily routine I just go on the field and play cricket with my friends.</p>
                </div>
              
            </div>
          </div>
        </td>
        
      </tr></table>
      </div>
  
            <br><br>
      <table align='center' style="background-color: #F1F3F6;width:100%">
        <tr colspan=2>
          <td align='center'><h2 style="font-size:40px; font-family:Times-Italic;"><i><b>Educational Qualifications<br></b></i></h2></td>
        </tr>
        <tr>
          <td align='center'><h4 style="font-size: 19px; font-family:Trebuchet MS; line-height:35px;">Currently persuing B-tech in Computer Science and Engineering from <q>VIT Chennai</q> :- 9.14 / 10</b></h4></td>
        </tr>
        <tr>
          <td align='center'><h4 style="font-size: 19px; font-family:Trebuchet MS; line-height:35px;">12th (HSC Science with CS, Maharashtra State Board) from <q>Bhavans College</q>, Mumbai :- 87.1%</h4></td>
        </tr>
        <tr>
          <td align='center'><h4 style="font-size: 19px; font-family:Trebuchet MS; line-height:35px;">10th (SSC, Maharashtra State Board) from <q>Bhavans A.H. Wadia High School</q>, Mumbai :- 90.6%<br><br></h4></td>
        </tr>
      </table></div></div>
<br id='S'><br>
      <table align='center' width=100% id='t4'>
        <tr><td>
          <h2 align='center' style="font-size:40px; font-family:Times-Italic;"><i><b>Skills</b></i></h2></td>
        </tr>
        <tr><td><p align='center' style="font-family:Trebuchet MS; font-size:22px;">Following are my technical skills and some of which I have used in my projects</p><br><br></td></tr>
      </table>
      
      <div style="overflow-x:auto;">
      <table align='center' border="0px" bgcolor="white" width=100% id='t4'>
        <tr>
          <td align='center'><br><img src='images/Cpic1.jpg' id='zook' width=120px height=140px/><br><br><br><br></td>
          <td align='center'><br><img src='images/C++pic1.jpg' id='zook'  width=160px height=160px/><br><br><br><br></td>
          <td align='center'><br><img src='images/Pythonpic1.png' id='zook'  width=160px height=150px/><br><br><br><br></td>
          <td align='center'><br><img src='images/java3.png' id='zook' width=105px height=150px/><br><br><br><br></td>
        </tr>
      
          <tr>
          <td align='center'><br><img src='images/HTMLpic1.png' id='zook' width=150px height=150px/><br><br><br><br></td>
          <td align='center'><br><img src='images/CSS2pic.png' id='zook' width=120px height=160px/><br><br><br><br></td>
          <td align='center'><br><img src='images/js2pic.png' id='zook' width=150px height=180px/><br><br><br><br></td>
          <td align='center'><br><img src='images/jquery.png' id='zook' width=150px height=150px/><br><br><br><br></td>
        </tr>
      
        <tr>
          <td align='center'><br><img src='images/node.png' id='zook' width=140px height=130px/><br><br><br><br></td>
          <td align='center'><br><img src='images/express.png' id='zook' width=140px height=140px/><br><br><br><br></td>
          <td align='center'><br><img src='images/es.png' id='zook' width=125px height=125px /><br><br><br><br></td>
          <td align='center'><br><img src='images/php.png' id='zook' width=145px height=100px/><br><br><br><br></td>
        </tr>

        <tr>
          <td align='center' width=25%><br><img src='images/mongodb.png' id='zook' width=145px height=130px/><br><br><br></td>
          <td align='center' width=25%><br><img src='/images/MSpic2.jpg' id='zook' width=145px height=180px/><br><br><br></td>
          <td align='center' width=25%><br><img src='/images/AI.png' id='zook' width=115px height=100px/><br><br><br></td>
          <td align='center' width=5%><br><img src='/images/canva.jfif' id='zook' width=120px height=120px/><br><br><br></td>
        </tr>
      </table> 
      </div>

      <br id='mp'><br>
      
      <div style="background-color: #F1F3F6;">
      <div class="w3-container">
        <br id='mp'>
        <h2 align='center' style="font-size:40px; font-family:Times-Italic;"><b><i>My Projects</i></b></h2>
        <br><br></div>
      
      <table align='center'>
        <tr><td><button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>&nbsp;&nbsp;</td>
        <td><button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button></td></tr>
      </table>
      <br/>

      <div class="w3-display-container mySlides">
        <h1 align='center' id='i3'>(1/17) &nbsp;&nbsp;&nbsp;<b>Weather Web App using API</b></h1><br/>
        <p align='center'><img src="/images/weather.png" id='i2'></p>
        <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
            
            <p align='center' style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;"><br/>I built a reponsive and user-friendly Weather Web App which includes both front-end and back-end both<br><b>Concepts used in this code are:</b></br>
                Frontend : HTML5 - CSS3 - JavaScript - ECMASCript<br> Backend : NodeJS - ExpressJS<br>
            <b> Working model of the project:</b>
            I built this Weather App using NodeJS as Back-end, ExpressJS as a back-end web framework, ECMAScript and a Real-Time API.
On entering any city name, the user gets the entire weather report for that city - such as current temperature, Min/Max temperature, Climate status, Humidity, Pressure, Visibility and Wind Speed
Included a separate 404 error page (if routed to wrong path)

From this project, I understood the concepts of NPM, Handling HTTP requests, Stream Pipes and ExpressJS routing
For rendering dynamic web pages, I used the Template Engines-(Handlebars)
Implemented the DRY concept using Partials in ExpressJS
Used Async-Await function of ECMAScript for the API
<br><a href='https://weather-web-app-sahil.herokuapp.com/index' target='_blank'>Web App Link</a><br>
<a href='https://github.com/Sahil0705/Weather_Stand' target='_blank'>Code Repository</a></p>
        </div>
      </div>

      <div class="w3-display-container mySlides">
        <h1 align='center' id='i3'>(2/17) &nbsp;&nbsp;&nbsp;<b>Covid-19 Tracker - Web App</b></h1><br/>
        <p align='center'><img src="/images/covidtracker.png" id='i2'></p>
        <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
            
            <p align='center' style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;"><br/>I built a reponsive and user-friendly Covid-19 Tracker<br><b>Concepts used in this code are:</b></br>
                Frontend : HTML5 - CSS3 - JavaScript - jQuery - ECMASCript <br> Backend : Real-Time API<br>
            <b> Working model of the project:</b>
            I build a Covid-19 Tracker using the Real-Time API
The complete Project is built with Modern JavaScript / ECMAScript (6/7/8/9) & jQuery
Following are the features which I used: -
Fetch-API, Async-Await, Promises, Scope Chain & Lexical Scoping, Callback/Fat-Arrow, map, filter/reduce functions, Closure and Template strings, Event-Listeners and Auto-Complete widget (jQuery)
Functionalities: - 
1) The web app shows the number of Covid19 Cases Worldwide, Country wise & State-wise (India)
2) The data for the country and state wise cases is been fetched through a Real-time API
3) Since the API is been updated frequently, so the data on my web app also gets updated
4) The data can be filtered based on state names or country names
5) The data involves the Total Active Cases, Total Deaths, Newly Active, Delta Confirmed, Delta Active, Delta Recovered, etc.)
6) Apart from all, it also describes the Symptoms and the Preventive measures to be taken
<br><a href='https://sahil0705.github.io/Covid-19_Tracker/' target='_blank'>Web App Link</a><br>
<a href='https://github.com/Sahil0705/Covid-19_Tracker' target='_blank'>Code Repository</a></p>
        </div>
      </div>

      <div class="w3-display-container mySlides">
        <h1 align='center' id='i3'>(3/17) &nbsp;&nbsp;&nbsp;<b>Google Keep App Clone - Web App</b></h1><br/>
        <p align='center'><img src="/images/Google_Keep1.png" id='i2'></p>
        <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
            
            <p align='center' style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;"><br/>I built a reponsive and user-friendly Google Keep App Clone<br><b>Concepts used in this code are:</b></br>
                Frontend : HTML5 - CSS3 - JavaScript - ECMASCript<br>
            <b> Working model of the project:</b>
            Built a Google Keep App Clone using the ECMAScript features, JavaScript Local Storage and DOM Manipulations

User can Add Notes and save it for future reference
Any note can be Created, Read, Updated, Deleted (CRUD)

No need to create any account for saving notes
Every saved note will be stored securely in the browser's local storage

Users should make sure to save the changes made in any note, otherwise the changes will not be reflected in the local storage
Any empty note will automatically be deleted

Whenever the user visits this web app again, then the previously saved notes by the user will be fetched from the local storage and will be shown to the user as it is
<br><a href='https://sahil0705.github.io/Google-Keep-Clone/' target='_blank'>Web App Link</a><br>
<a href='https://github.com/Sahil0705/Google-Keep-Clone' target='_blank'>Code Repository</a></p>
        </div>
      </div>

      <div class="w3-display-container mySlides">
        <h1 align='center' id='i3'>(4/17) &nbsp;&nbsp;&nbsp;<b>MUSIFY - Music Player</b></h1><br/>
        <p align='center'><img src="/images/music.jpg" id='i2'></p>
        <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
            
            <p align='center' style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;"><br/>I built a reponsive and user-friendly Music Player Web App<br><b>Concepts used in this code are:</b></br>
                Frontend : HTML5 - CSS3 - JavaScript - ECMAScript
            <br><b> Working model of the project:</b>
            I build a Music Player web app using Modern JavaScript / ECMAScript (6/7/8/9) named as Musify
Following are the features which I used: -
TimeUpdate events, font-awesome icons, keyframe animations, sliders, Scope Chain & Lexical Scoping, Callback/Fat-Arrow/ map/ filter/reduce functions, Object De-structuring, Closures, Template strings and Event-Listeners
Any of the default Music controls are not been used. All controls are built from scratch (customized)
It has the following features: -
1) It has 6 songs currently
2) Slider/status bar (showing the completion of the song at any time) & Current time of each song is been updated dynamically at every 1 sec
3) Play & Pause icons are been toggled on playing / pausing of the song
4) Next & Previous icons can be used to switch the current song with the next & previous songs respectively in the queue
5) After the end of any song, automatically the next song in the queue is been played
6) After the end of all songs in the queue, again the loop starts from the beginning i.e., 1st song is been played
7) The volume can be adjusted from 0 to 100% using the slider (for volume)
8) The volume can be muted or unmuted using the volume icon
9) Tried to make the UI as modern as possible
            <br><a href='https://sahil0705.github.io/Musify-Music_Player/' target='_blank'>Web App Link</a><br>
            <a href='https://github.com/Sahil0705/Musify-Music_Player' target='_blank'>Code Repository</a></p>
        </div>
      </div>

      <div class="w3-display-container mySlides">
        <h1 align='center' id='i3'>(5/17) &nbsp;&nbsp;&nbsp;<b>RESTFul API for MENS 100m Race</b></h1><br/>
        <p align='center'><img src="/images/restapi.png" id='i2'></p>
        <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
            
            <p align='center' style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;"><br/>I built a RESTFul API which includes front-end, back-end and database<br><b>Concepts used in this code are:</b></br>
                Frontend : HTML5 - CSS3 - JavaScript - ECMASCript<br> Backend : NodeJS - ExpressJS - POSTMAN <br> Database : MongoDB<br>
            <b> Working model of the project:</b>
            Created my first RESTful API, which shows the ranking of the athletes for the Mens 100m race
This API fetches the data from MongoDB (Atlas) DB and gives it to the user/client when a request is made on '/mens' route

Firstly, the data is inserted into a MongoDB database collection through Postman and the API fetches the data from this DB
Then we can easily perform CRUD operations through Postman which will affect the database and accordingly the API will fetch the updated data from the DB

I used NodeJS & ExpressJS as back-end and Mongoose for connecting the node application through MongoDB atlas and providing DB Schema and validations.
I used ExpressJS Routers for different HTTP requests

From this project, I understood the working of MongoDB queries, connecting MongoDB DB to a node/express app, providing Schemas and Validations through Mongoose.
I also learnt about handling POST/GET/PATCH/DELETE requests in RESTful API through Postman
            <br><a href='https://mens100mtr-restapi-sahil.herokuapp.com/mens' target='_blank'>API Link</a><br>
            <a href='https://github.com/Sahil0705/RESTfulApi' target='_blank'>Code Repository</a></p>
        </div>
      </div>
      
      <div class="w3-display-container mySlides">
        <h1 align='center' id='i3'>(6/17) &nbsp;&nbsp;&nbsp;<b>E-commerce - Web App</b></h1><br/>
        <p align='center'><img src="/images/onlineshopping.jpg" id='i2'></p>
        <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
            
            <p align='center' style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;"><br/>I built a reponsive and user-friendly e-commerce shopping website which includes both front-end and back-end both<br><b>Concepts used in this code are:</b></br>
                Frontend : HTML5 - CSS3 - JavaScript - <br> Backend : PHP <br> Database : MySQL<br>
            <b> Working model of the project:</b>
            1. Firstly there is a home page just for viewing
            2. Then the user must register himeself and login for buying the products 
            3. There is an option given to update the details of the user,forgot pass  and update password
            4. User can select many products at a time and collect his/her products in the cart and go for buying all 
            5. Finally after payment the user gets a reciept
            6. The user can view all his orders which he/she has bought till date.
            <br><a href='https://drive.google.com/file/d/116Zx-YiQbtEnM5-luutiiAc4sJUX1lvl/view?usp=sharing' target='_blank'>Have a Look</a><br>
            <a href='https://github.com/Sahil0705/Quick_Store' target='_blank'>Code Repository</a></p>
        </div>
      </div>
      
      <div class="w3-display-container mySlides">
        <h1 align='center' id='i3'>(7/17) &nbsp;&nbsp;&nbsp;<b>EAST (Easy & Secure Test) Quiz - Web App (Team of 4)</b></h1><br/>
        <p align='center'><img src="/images/quiz.jpg" id='i2'></p>
        <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
            
            <p align='center' style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;"><br/>I and my 3 teammates built a reponsive and user-friendly e-quiz website which includes both front-end and back-end both<br><b>Tools and Concepts used in this code are:</b></br>
                Frontend languages - HTML5 - CSS3 - JavaScript - <br> Backend language - PHP<br>
            <b> Description of the project:</b>
            Myself, Sahil Donde and my teammate Ninad Topale, Sangramjit Hazarika and Krunal Kumbhare worked on a Web Development Project. 
            We built an Online Quiz Portal which would be beneficial to all the schools and colleges who don't have any facility to take the 
            examination sector in to a full fleshed online mode. This portal would have 2 main sections - Faculty and Students. Each of the 
            faculty and Students of the schools/colleges who wants to avail our services needs to register in our portal.Faculty can set the 
            question paper and the exam timing. After setting the test/quiz, a unique test id would be generated which would be given to only 
            those who are under that faculty. Once the student enters the test id at the scheduled time only then the student can attempt the 
            test. After the test, the student can see the result and can see where he has done the mistake. The evaluation of the test will 
            done by the faculty on the other side. There is also an option of chat where faculties and students can chat among themselves for 
            any doubt clearification.<br><a href='https://drive.google.com/file/d/1lgXtluyoxBliyseTAcPtziXFBCBdUCf3/view' target='_blank'>Have a Look</a><br>
            <a href='https://github.com/Sahil0705/EAST_Quiz-Web-Portal/tree/main/EAST%20-%20Quiz%20Web%20Portal' target='_blank'>Code Repository</a></p>
        </div>
      </div>

      <div class="w3-display-container mySlides">
        <h1 align='center' id='i3'>(8/17) &nbsp;&nbsp;&nbsp;<b>Snakes & Ladders - Game</b></h1><br/>
        <p align='center'><img src="/images/snake.jpg" id='i2'></p>
        <div class="w3-display-middle w3-large w3-container w3-padding-16 w3-black">
          
            <p align='center' style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;"><br/>I wrote a python program to play text-based snake and ladder game in the terminal.<br><b>Concepts used in this code are:</b><br>
              - Dictionary
              - List
              - Generating random number
              - Selecting a Random value from a list
              - Adding wait/sleep in program
              - Conditional Statements i.e. IF and ELSE
              - Getting input from user<br>
              <b>What is happening in Game:</b><br>
              1- Display the welcome message
              2- Collect the player's names
              3- Until one of the player wins do the following:
              3.1- Roll the dice
              3.2- Move the player forward for the value got on the dice roll.
              3.3- If the player is on snake's head, move down to its tail
              3.4- If the player is on ladder's bottom, take it to its top
              3.5- else remain there and let the second player roll the dice<br>Click the given link and download the game and make sure you open it in a desktop <a href='https://drive.google.com/file/d/1yLYlGRoCGHSOD0sqoOIXuIkzTqHF7tHh/view' target="_blank">.<br/>Download the Game</a><br>
              </p>
        </div>
      </div>

      <div class="w3-display-container mySlides">
        <h1 align='center' id='i3'>(9/17) &nbsp;&nbsp;&nbsp;<b>Notepad Clone - Desktop App</b></h1><br/>
        <p align='center'><img src="/images/notepad.jpg" id='i2'></p>
        <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
            
            <p align='center' style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;"><br/>I built a Desktop based Application - Notepad Clone using the Swing library of Java. <br><b>Tools and Concepts used in this code are:</b></br>
                Java - Swing<br>
            <b> Description of the project:</b>
            Built a Notepad clone using the file handling concepts and the swing library which is built on top of the Java AWT
Got to learn many new things while implementing the same
Functionalities included: -
1) Saving the file
2) Opening the existing file
3) Editable operations like Undo and Redo
4) Wrapping the lines and the words
5) Changing the font size, font style and font family of the text
6) Changing the background and foreground color<br><a href='https://drive.google.com/file/d/1deAastnvyNbHk_8W4AInh04Vtq6z1chq/view' target='_blank'>Have a Look</a><br>
<a href='https://github.com/Sahil0705/Notepad-Java_Desktop_App/tree/main/Notepad%20-%20Java%20Desktop%20App' target='_blank'>Code Repository</a></p>
        </div>
      </div>

      <div class="w3-display-container mySlides">
        <h1 align='center' id='i3'>(10/17) &nbsp;&nbsp;&nbsp;<b>Banking - Web App (Team of 2)</b></h1><br/>
        <p align='center'><img src="/images/bank.jpg" id='i2'></p>
        <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
            
            <p align='center' style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;"><br/>I and my teammate built a reponsive and user-friendly e-bank website which includes both front-end and back-end both<br><b>Tools and Concepts used in this code are:</b></br>
                Frontend languages - HTML5 - CSS3 - JavaScript - <br> Backend language - PHP<br>
            <b> Description of the project:</b>
            Myself, Sahil Donde and my teammate Krunal Kumbhare worked on a Web Development Project. We built an Online Banking Portal where you can transfer money to other users, can have a close watch on all your transactions, open a fixed deposit and apply for loans. We have also include the employee side of the system where the employee can view the user details and can approve/disapprove the loans based on the EMI
Frontend: - HTML, CSS and JS, Backend: - PHP, Database: - MySQL<br><a href='https://drive.google.com/file/d/1pO2IbsqlGQ1qaC_davW4yYqHPYYCr-0t/view' target='_blank'>Have a Look</a><br>
<a href='https://github.com/Sahil0705/Surakshit_Bank/tree/main/Banking' target='_blank'>Code Repository</a></p>
        </div>
      </div>

      <div class="w3-display-container mySlides">
        <h1 align='center' id='i3'>(11/17) &nbsp;&nbsp;&nbsp;<b>RIVA - Virtual Assistant</b></h1><br/>
        <p align='center'><img src="/images/virtual_Ass.png" id='i2'></p>
        <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
            
            <p align='center' style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;"><br/>Our team built a Virtual Assistant - RIVA (RealTime Interactive Virtual Assistant). <br><b>Tools and Concepts used in this code are:</b></br>
              Python Framework - Speech Recognition using Google APIs.<br>
            <b> Description of the project:</b>
            Myself, Sahil Donde and my teammates Sangramjit Hazarika and Ninad Topale worked on a Desktop based App Project. We have designed a virtual helper using Python as the programming language and PyCharm as the Platform or the environment. The system will basically perform the stuff we want it to do. The system have more user-friendly UI so that the users find this a way to have fun in his/her leisure time. RIVA is more interactive such that the user feels that they are talking to another person right in front of him/her.

The RIVA make the system search for a song from the user’s playlist and also play videos on YouTube . Search anything on internet, send emails to the recipients, open Facebook, WhatsApp and also open many other desktop related applications on the local machine. RIVA search for the meaning of the Jargon words only if the user wants it to do so. Generally the voice bots find it difficult to differentiate between lower and upper case meaning of a capitonym word.

In short, Responding to routine customer queries, dispensing information, and collecting customer details are some of the features of RIVA
            <br><a href='https://drive.google.com/file/d/1xLgDc2jfu9-c_fzQqRSLYZwKXhDf_K13/view?usp=sharing' target='_blank'>Have a Look</a><br>
            <a href='https://github.com/Sahil0705/RIVA-RealTime_Interactive_Virtual_Assistant/tree/main/RIVA-(Real%20Time%20Interacting%20Virtual%20Assistant%20)' target='_blank'>Code Repository</a></p>
        </div>
      </div>

      <div class="w3-display-container mySlides">
        <h1 align='center' id='i3'>(12/17) &nbsp;&nbsp;&nbsp;<b>Snake eating Food - Game</b></h1><br/>
        <p align='center'><img src="/images/sanke.jpg" id='i2'></p>
        <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
            
            <p align='center' style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;"><br/>I built a Graphical based Snake Game using the Turtle library of Python. <br><b>Tools and Concepts used in this code are:</b></br>
                Turtle library of Python<br>
            <b> Description of the project:</b>
            Here as the snake grows bigger in size, you will notice that its speed reduces.
Here everything in the screen is a turtle - head of the snake, body of the snake and also the food.
When the snake eats the food, a turtle in the form a body is been attached to the snake.
The user will be out only when the head of the snake touches any of the body turtle.
For the boundaries I haven't declared the user as out, instead the snake can pass through the boundary and would come out from the opposite side of the boundary.<br><a href='https://drive.google.com/file/d/1_V13ih2oTxWTRL887r-SgN0MfEfgkFPr/view' target='_blank'>Have a Look</a><br>
</p>
        </div>
      </div>

      <div class="w3-display-container mySlides">
        <h1 align='center' id='i3'>(13/17) &nbsp;&nbsp;&nbsp;<b>Snake eating Food - Game</b></h1><br/>
        <p align='center'><img src="/images/sanke.jpg" id='i2'></p>
        <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
            
            <p align='center' style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;"><br/>I built a Graphical based Snake Game using the Turtle library of Python. <br><b>Tools and Concepts used in this code are:</b></br>
                Turtle library of Python<br>
            <b> Description of the project:</b>
            Here as the snake grows bigger in size, you will notice that its speed reduces.
Here everything in the screen is a turtle - head of the snake, body of the snake and also the food.
When the snake eats the food, a turtle in the form a body is been attached to the snake.
The user will be out only when the head of the snake touches any of the body turtle.
For the boundaries I haven't declared the user as out, instead the snake can pass through the boundary and would come out from the opposite side of the boundary.<br><a href='https://drive.google.com/file/d/1_V13ih2oTxWTRL887r-SgN0MfEfgkFPr/view' target='_blank'>Have a Look</a><br>
</p>
        </div>
      </div>

      <div class="w3-display-container mySlides">
        <h1 align='center' id='i3'>(14/17) &nbsp;&nbsp;&nbsp;<b>Tic-Tac-Toe - Game</b></h1><br/>
       <p align='center'><img src="/images/tictactoe.jpg" id='i2'></p>
        <div class="w3-display-topright w3-large w3-container w3-padding-16 w3-black">
            
            <p align='center' style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;"><br/>I made a user friendly Tic-Tac-Toe game using C++, majorly using arrays concept.<br><b>Concepts used in this code are:</b><br>-1D Arrays - 2D Arrays - Generating random number - - Conditional Statements i.e. IF and ELSE
              - Getting input from user - Adding wait/sleep in program - Conditional loops<br>
              <b>What is happening in the Game: </b><br>
              1- Display the welcome message
              2- Collect the player's names
              3- Until one of the player wins do the following:
              3.1- A toss happens and whoever wins the toss will start first
              3.2- Users have the option of choosing x/0
              3.3- As soon as all 3 rows/columns of a user is filled by the same character that user wins.
              3.4- If no one wins then the game stops with the message saying that match drawn<br>Click the given link and download the game and make sure you open it in a desktop.<br/> <a href='https://drive.google.com/file/d/11-gMvSbDmat6ehWu0JKjmOd6ktG0MDq-/view?usp=sharing' target="_blank">Download the Game</a><br>
              </p>
        </div>
      </div>
      
      <div class="w3-display-container mySlides">
        <h1 align='center' id='i3'>(15/17) &nbsp;&nbsp;&nbsp;<b>Operating System - Desktop App (Team of 3)</b></h1><br/>
        <p align='center'><img src="/images/os.png" id='i2'></p>
        <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
            
            <p align='center' style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;"><br/>I and my 2 teammates built a Desktop based Application - Operating System - A study tool  using the Swing library of Java.<br><b>Tools and Concepts used in this code are:</b></br>
                Java - Swing, MySQL Database<br>
            <b> Description of the project:</b>
            Myself, Sahil Donde and my teammates Sangramjit Hazarika and Ninad Topale worked on a Desktop based App Project. We built an Operating System - Virtual Machine where our system would have various small applications like calculator, calendar, alarm clock, stop watch, mailbox, etc.
We have the Task Manager as it is one of the OS concept in our system. Apart from this we have also implemented the conecpt of caching. Only that application which would be used the most no. of times by the user would be present in the cache memory.
The main intention to go for this project is that to understand the OS concepts to the users in a more practical and in fun way. This can be useful to those who don't have any computer knowledege. As just by reading the concepts they won't get it. So using our VM, they can get the live demo of how the OS allots memory and releases it. Also they would understand the concept of caching
Each of these applications which I mentioned would take some amount of memory consumption and CPUs attention. So to manage the memory and CPU along with the applications we have come up with a app named Task Manager where we can monitor the memory consumption and the CPUs attention to each of the opened apps. The task manager also keeps the track of the no. of tabs opened and thus updates the CPU and memory consumption accordingly in the task manager. We have tried to make it dynamic so that if any tab is opened or closed then the values would be affected then and there. Similarly if any tab is closed so, that much amount of CPUs attention would be released and parallely the memory would also be released which was alloted to that app.
Also, we have set a limit of RAM. So, if the RAM size exceeds the limit and if we try to open another app, then from among the apps opened the app which has less priority would be closed and the new app will be opened.<br><a href='https://drive.google.com/file/d/1pO2IbsqlGQ1qaC_davW4yYqHPYYCr-0t/view' target='_blank'>Have a Look</a><br>
<a href='https://github.com/Sahil0705/Virtual_PC' target='_blank'>Code Repository</a></p>
        </div>
      </div>

      <div class="w3-display-container mySlides">
        <h1 align='center' id='i3'>(16/17) &nbsp;&nbsp;&nbsp;<b>Housing Real Estate - Desktop App (Team of 3)</b></h1><br/>
        <p align='center'><img src="/images/realestate1.png" id='i2'></p>
        <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
            
            <p align='center' style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;"><br/>I and my 2 teammates built a Desktop based Application - Real Estate App using the Swing library of Java.<br><b>Tools and Concepts used in this code are:</b></br>
                Java - Swing, MySQL Database<br>
            <b> Description of the project:</b>
            Myself, Sahil Donde and my teammates Sangramjit Hazarika and Ninad Topale worked on a Desktop based App Project. We built an Online Real Estate Portal where First, any user which is interest in either buying or selling the house registers on the portal with the basic required details. Once he is been registered then he needs to login with the help of the credentials set by him at the time of registration
So, all home seller, home buyers, renters and tenants become registered users. After login the user needs to select one of the 4 roles.
For a home seller, he needs to list the houses for selling by giving all the details like house location, landmarks, price, room size and also, he needs to give the bank details of his account as the money received by the portal by the buyers needs to be transferred to the account of the corresponding seller. The same case goes with the renters, just he needs to give the monthly rent along with other details
For a home buyer, he would see a list of all the houses available on the portal listed by all sellers. He can filter the houses by setting the priorities based on the landmarks, location and price. For a complete detailed information of a particular house, he needs to click the house and can view.
Then he can go for the payment and by entering the account no, MICR code and the IFSC code and also the monthly debited money from the buyer’s account. So, the entered monthly amount will be auto debited every month from the buyer’s account and be transferred to our account which would be transferred to the corresponding seller. Same goes with the tenants. At the end the buyer and the seller are been given a confirmation email about the status of the transaction for the house
<br><a href='https://drive.google.com/file/d/1ngPVNQcuQ36elhR7jn7fxAnblSzOmxmf/view?usp=sharing' target='_blank'>Have a Look</a><br>
<a href='https://github.com/Sahil0705/Housing_Real_Estate' target='_blank'>Code Repository</a></p>
        </div>
      </div>

      <div class="w3-display-container mySlides">
        <h1 align='center' id='i3'>(17/17) &nbsp;&nbsp;&nbsp;<b>Hiking Buddies - Web App (Team of 3)</b></h1><br/>
        <p align='center'><img src="/images/travel.jpg" id='i2'></p>
        <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
            
            <p align='center' style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;"><br/>I and my 2 teammates built a Travel Agency Web App - Hiking Buddies<br><b>Tools and Concepts used in this code are:</b></br>
              Frontend : HTML5 - CSS3 - JavaScript - <br> Backend : PHP <br> Database : MySQL<br>
            <b> Description of the project:</b>
            In this project we have used various types of languages including PHP, CSS, HTML etc. We have created the home page using HTML code which consists of the tabs including the About Us, Home and Login. We have created the branch page using HTML code under About Us tab. The user can get to know various types of transports by clicking on the Transports tab under Home tab. The Transport page is also being created using HTML code. In Transport page we have linked each and every airlines or Railways to their official sites. Then we have created the package page which will help tourists to suggest the best Travel Package along with various types of discounts for domestic and foreign trips.

            So, basically firstly the user has to log in if he/she has an account previously. However if they are new to this website they have to create an account by going to the sign up page. After filling the required credentials the user will get a mail stating that he has become a member of this agency “Hiking Buddies” along with his username and password for proceeding further. We have created this using PHP and PHP Mailer. The user’s details will then be collected in a Database for future use. After signing in, the user has to login using their username and password.
            
            We have created database almost for each and every page right from branch, signup, employee, package to insurance. We have also made use of session management which will create individual session id i.e. the user’s details will be carried forward throughout the particular session. After the final payment along with g-mail, we also receipt a transcript which includes the user’s travelling details.
            
            So, finally we have created a project which will meet all the expectations of the user and the user can search for anything related to travel hassle free. One of the important things is that we have checked for all the validations wherever it is necessary throughout the project.
<br><a href='https://drive.google.com/file/d/1GxWzC_k2RDkL3yxjo3zomLS511vOrVNl/view?usp=sharing' target='_blank'>Have a Look</a><br>
<a href='https://github.com/Sahil0705/Hiking_Buddies' target='_blank'>Code Repository</a></p>
        </div>
      </div>

      <table align='center'>
        <tr><td><button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>&nbsp;&nbsp;</td>
        <td><button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button></td></tr>
      </table>
      <br><br>
      </div>
    
      <script>
      var slideIndex = 1;
      showDivs(slideIndex);
      
      function plusDivs(n) {
        showDivs(slideIndex += n);
      }
      
      function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
           x[i].style.display = "none";  
        }
        x[slideIndex-1].style.display = "block";  
      }
      </script>
      </div>

<table align='center' width=100% style="background-color: white;">
  <tr><td>
<div id='panel'>
  <div class="w3-container">
        <br id='cer'><br/>
        <h2 align='center' style="font-size:40px; font-family:Times-Italic;"><b><i>Certifications</i></b></h2>
        <br><br></div>
  <div id='panels' style="background-color: white;">

        <h1 style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;">&nbsp;<img class='example1' src='/images/geeks.png' width=30px height=30px> &nbsp;<span class='example'>True Geek Tournament 2021</span></h1>
        <p><span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - GeeksforGeeks: True Geek Tournament 2021</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - GeeksforGeeks</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - Issued Oct 2021 - No Expiration Date</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - <a href='https://drive.google.com/file/d/1bkvtaKm-ROk9vAgkAW6ZBQjSVjux0bKC/view' target="_blank"><span style = 'color: blue'>View Certificate</span></a></p>

          <h1 style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;">&nbsp;<img class='example1' src='/images/mycaptain.png' width=30px height=30px> &nbsp;<span class='example'>MyCaptain: Data Analytics with Python</span></h1>
          <p><span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - MyCaptain: Data Analytics with Python</span><br/>
            <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - MyCaptain</span><br/>
            <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - Issued Aug 2021 - No Expiration Date</span><br/>
            <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - <a href='https://drive.google.com/file/d/1njtC2mYcr3kcB9ZHuP_PadmkFNYSMlK0/view' target="_blank"><span style = 'color: blue'>View Certificate</span></a></p>
  
          <h1 style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;">&nbsp;<img class='example1' src='/images/hackerrank.png' width=30px height=30px> &nbsp;<span class='example'>HackerRank : JavaScript</span></h1>
          <p><span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - HackerRank : JavaScript (Basic)</span><br/>
            <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - HackerRank</span><br/>
            <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - Issued Aug 2021 - No Expiration Date</span><br/>
            <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - <a href='https://www.hackerrank.com/certificates/2530e275f94e' target="_blank"><span style = 'color: blue'>View Certificate</span></a></p>

        <h1 style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;">&nbsp;<img class='example1' src='/images/mycaptain.png' width=30px height=30px> &nbsp;<span class='example'>MyCaptain: Graphic Design</span></h1>
        <p><span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - MyCaptain: Graphic Design (Adobe Illustrator)</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - MyCaptain</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - Issued July 2021 - No Expiration Date</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - <a href='https://drive.google.com/file/d/172IMRjj_1943b5Qch8FSvASqHpStWV8H/view' target="_blank"><span style = 'color: blue'>View Certificate</span></a></p>

        <h1 style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;">&nbsp;<img class='example1' src='/images/ms.png' width=30px height=30px> &nbsp;<span class='example'>Microsoft Technology Associate (MTA)</span></h1>
        <p><span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - Microsoft Technology Associate (MTA): Introduction to Programming using Python</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - Microsoft</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - Issued June 2021 - No Expiration Date</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - <a href='https://drive.google.com/file/d/1QdijGLNJ6zw9ExgX1SwT-OuBqIySGfpf/view' target="_blank"><span style = 'color: blue'>View Certificate</span></a></p>

        <h1 style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;">&nbsp;<img class='example1' src='/images/hackerrank.png' width=30px height=30px> &nbsp;<span class='example'>HackerRank : Problem Solving </span></h1>
        <p><span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - HackerRank : Problem Solving (Basic)</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - HackerRank</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - Issued Mar 2021 - No Expiration Date</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - <a href='https://www.hackerrank.com/certificates/4ab62e84d183' target="_blank"><span style = 'color: blue'>View Certificate</span></a></p>

        <h1 style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;">&nbsp;<img class='example1' src='/images/oracle.jpg' width=30px height=30px> &nbsp;<span class='example'>Oracle Database Design : SQL </span></h1>
        <p><span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - ORACLE Academy : Database Design and Programming with SQL</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - Oracle</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - Issued Jun 2020 - No Expiration Date</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"><a href='https://drive.google.com/file/d/1L-eNe7uKqaB-0YC8hxECS4n_KIYIVajf/view?usp=sharing' target="_blank"> - <span style = 'color: blue'>View Certificate - Achievement</span></a><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - <a href='https://drive.google.com/file/d/1ep8T2LWZKay_4kkBbV-IwxY60nbgQV6-/view?usp=sharing' target="_blank"><span style = 'color: blue'>View Certificate - Course Completion</span></a></p>

        <h1 style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;">&nbsp;<img class='example1' src='/images/NSS.jpg' width=30px height=30px> &nbsp;<span class='example'>NSS : Social Media Contribution </span></h1>
        <p><span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - NSS : Social Media Contribution - Web Design</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - NSS - VIT Chennai</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - Issued May 2021 - No Expiration Date</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - <a href='https://drive.google.com/file/d/1PAa3nFWwWqFnwmyCIzoxeu6B3M-yHmFg/view' target="_blank"><span style = 'color: blue'>View Certificate</span></a></p>

        <h1 style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;">&nbsp;<img class='example1' src='/images/hackerrank.png' width=30px height=30px> &nbsp;<span class='example'>HackerRank : Java </span></h1>
        <p><span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - HackerRank : Java (Basic)</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - HackerRank</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - Issued Mar 2021 - No Expiration Date</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - <a href='https://www.hackerrank.com/certificates/62a4b7943b80' target="_blank"><span style = 'color: blue'>View Certificate</span></a></p>

        <h1 style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;">&nbsp;<img class='example1' src='/images/coursera.png' width=30px height=30px> &nbsp;<span class='example'>Coursera : IoT and Embedded Systems </span></h1>
        <p><span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - Coursera : Introduction to the Internet of Things and Embedded Systems</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - Coursera</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - Issued July 2020 - No Expiration Date</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - <a href='https://www.coursera.org/account/accomplishments/certificate/TYL943F6A84S' target="_blank"><span style = 'color: blue'>View Certificate</span></a></p>

        <h1 style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;">&nbsp;<img class='example1' src='/images/NSS.jpg' width=30px height=30px> &nbsp;<span class='example'>NSS : Skill Development Program </span></h1>
        <p><span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - NSS : Skill Development Program - Web Design</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - NSS - VIT Chennai</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - Issued April 2020 - No Expiration Date</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - <a href='https://drive.google.com/file/d/1GXwiUl4CazaBhRlUkr79qAV0QsTZvOQy/view' target="_blank"><span style = 'color: blue'>View Certificate</span></a></p>

        <h1 style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;">&nbsp;<img class='example1' src='/images/hackerrank.png' width=30px height=30px> &nbsp;<span class='example'>HackerRank : Python </span></h1>
       <p><span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - HackerRank : Python (Basic)</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - HackerRank</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - Issued April 2021 - No Expiration Date</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - <a href='https://www.hackerrank.com/certificates/02d06741baa9' target="_blank"><span style = 'color: blue'>View Certificate</span></a></p>

        <h1 style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;">&nbsp;<img class='example1' src='/images/vit.png' width=30px height=30px> &nbsp;<span class='example'>VIT : Arch-A-Thon 2020 </span></h1>
        <p><span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - VIT : Arch-A-Thon 2020 </span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - Vellore Institute of Technology, Chennai</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - Issued October 2020 - No Expiration Date</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - <a href='https://drive.google.com/file/d/1u934YOL75qKCCeKaLwIM7uJ1jBEq0JqR/view' target="_blank"><span style = 'color: blue'>View Certificate</span></a></p>

        <h1 style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;">&nbsp;<img class='example1' src='/images/coursera.png' width=30px height=30px> &nbsp;<span class='example'>Coursera : AI for Everyone </span></h1>
       <p><span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - Coursera : AI for Everyone</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - Coursera</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - Issued July 2021 - No Expiration Date</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - <a href='https://www.coursera.org/account/accomplishments/certificate/T7YQSF2N78V6' target="_blank"><span style = 'color: blue'>View Certificate</span></a></p>

        <h1 style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;">&nbsp;<img class='example1' src='/images/cisco.png' width=30px height=30px> &nbsp;<span class='example'>Cisco : Introduction to Packet Tracer </span></h1>
        <p><span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - Cisco : Introduction to Packet Tracer</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - Cisco</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - Issued September 2020 - No Expiration Date</span><br/>
          <span style="font-size:19px; font-family:Trebuchet MS;  line-height:35px;"> - <a href='https://drive.google.com/file/d/1EBLnDlEnP7vFXbuDqTaf0bieKKE-K6dF/view' target="_blank"><span style = 'color: blue'>View Certificate</span></a></p>
</div>
</div>
</td></tr></table>


<br/><br/>
<table align='center' width=100% style="background-color: white;">
  <tr><td>
<div id='panel'>
  <div class="w3-container">
        <br>
        <h2 align='center' style="font-size:40px; font-family:Times-Italic;"><b><i>Internships</i></b></h2>
        <br><br></div>
  <div id='panels1' style="background-color: white;">

        <h1 style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;">&nbsp;<img class='example12' src='/images/verzeo.png' width=60px height=20px> &nbsp;<span class='example23'>Verzeo: Machine Learning Internship </span></h1>
        <p style="font-size:19px; font-family:Trebuchet MS; line-height:35px;">
          <b>Verzeo: Machine Learning Internship - 2 months (1st March 2021 - 31st April 2021)</b><br/>- &nbsp;&nbsp;Here I got to learn about many of the Supervised and Unsupervised ML Algorithms and also the Math behind it. 
          - &nbsp;&nbsp;I also got familiar with the Exploratory Data Analysis Concepts and also about OpenCV-Python library.
We were given two projects – 1 Minor Project and 1 Major Project.<br/>- &nbsp;&nbsp;
In the Minor project (Individual Project) we were given a dataset on which we had to perform EDA and answer the questions given (using the Pandas).<br/>- &nbsp;&nbsp;
Then in the Major project (which was a group project) we were asked to create a Human Skin tone detection web app. Our group had two teams - Web Design team which was responsible for the UI and the front end of the website The backed team - the ML team which I was a part of - was responsible for making the model which would predict the Human Skin tone from the given image. Due to this project I got to learn about many of the advanced ML concepts like OpenCV-Python and face detection mechanisms (haar-cascade classifier).<br/>- &nbsp;&nbsp;
After the completion of the project, we were asked to give a final review of our project. During the final review, while presenting our project to the organization, one of my teammates who was from the Web Design team, presented it and explained the web technology which we used in our project and from the Machine Learning team, I explained the ML concepts and the tools which we used in our project.<br/>- &nbsp;&nbsp;
Due to the major project, I learnt how to collaboratively work in a team and contribute to the team as a whole.<br>
- &nbsp;&nbsp;<a href='https://drive.google.com/file/d/1UQ3AurDnrVZTDSA8uYZ6tHe0UAGW8FRX/view?usp=sharing' target="_blank"><span style='color: blue'>View Course Completion Certificate</span></a><br/>
- &nbsp;&nbsp;<a href='https://drive.google.com/file/d/1M-C-e_aleZNveNWUTfKhFy5oKo9zJZ2p/view?usp=sharing' target="_blank"><span style='color: blue'>View Internship Certificate</span></a></p>

<h1 style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;">&nbsp;&nbsp;&nbsp;&nbsp;<img class='example2' src='/images/tsf.png' width=30px height=30px> &nbsp;<span class='example'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Sparks Foundation</span></h1>
<p style="font-size:19px; font-family:Trebuchet MS; line-height:35px;"><b>The Sparks Foundation - Web Development and Designing Intern - July 2021</b><br/>
- &nbsp;&nbsp; I had been given a task where I had to built a responsive banking web app. 
<br/>- &nbsp;&nbsp; <b>Tools</b> used: - HTML, CSS, JavaScript, jQuery, PHP and MySQL DB
<br/>- &nbsp;&nbsp; The web app was having the following functionalities: -
<br/>1) Any user who wants to avail our services can make a account with a minimum balance of 1500
<br/>2) The username must be unique or else the registration can't be done
<br/>3) The user can transfer funds to anyone he wishes (valid beneficiary)
<br/>4) Can view his balance
<br/>5) Can view his transaction history 
<br/>6) Lastly, the most importantly I hosted the website along with the Database on a server - webhostapp.com

<br/>- &nbsp;&nbsp; The main thing I learnt from this internship is about Designing. I tried to make the website as appealing as possible.
<br/>- &nbsp;&nbsp; I also learnt about Github repositories and also to host the website on a server (webhostapp.com)
<br/>- &nbsp;&nbsp;<a href='https://www.linkedin.com/posts/sahil-donde-b788a4193_task1-gripjuly21-gripjuly2021-activity-6818533288127283200-JnOj' target="_blank"><span style="color: blue">View Task</span></a>
</a>
<br/>- &nbsp;&nbsp;<a href='https://drive.google.com/file/d/1q59fGyvjLlhqDVzX_4roUBsKqE2ZJv3Y/view?usp=sharing' target="_blank"><span style="color: blue">View Selection Certificate</span></a>
<br/>- &nbsp;&nbsp;<a href='https://drive.google.com/file/d/1zrY__RkVXJqf2U9l4cz4Hoq4Wft8w4ni/view?usp=sharing' target="_blank"><span style="color: blue">View Completion Certificate</span></a>
<br/>- &nbsp;&nbsp;<a href='https://github.com/Sahil0705/Basic_Banking_System_TSF' target="_blank"><span style="color: blue">Code Repository</span></a></p>

<h1 style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;">&nbsp;<img class='example12' src='/images/lgm.jfif' width=40px height=40px> &nbsp;<span class='example23'>LetsGrowMore: GD Internship </span></h1>
        <p style="font-size:19px; font-family:Trebuchet MS; line-height:35px;">
          <b>LetsGrowMore: Graphic Designing Internship - 2 months (12th August 2021 - 30th September 2021)</b><br/>
          <b>Previous Works in Designing Posters: -</b>
I have designed some Logos, Business Cards, Posters, Print-Adds,
Social Media Ads as part of my self-learnings and certifications.
I also like to Re-design already existing logos/posters. Apart from that,
I have also done a Graphic Designing Course where I learnt some more
important theoretical and practical concepts related to Designing. I
make my illustrations on Adobe Illustrator.
<br>
<b>As a Graphic Design Intern at LetsGrowMore: -</b>
We interns are asked to make social media posters on various topics.
Every week, each one of us are asked to make 1 poster, where we
design the posters, but the content is given by the team leads.
I learnt lot of concepts related to designing and also had a great hands on Adobe Illustrator and Canva.
I also learnt how to contribute to the team as an individual
<br>
<b>My Interest towards Graphic Designing: -</b>
I was always fascinated and interested towards Digital Arts. Often in
my free time, I spend some time by making various illustrations and
Artworks. By watching some YouTube videos related to Graphic
Designing I keep improving myself. I want to explore myself more in
the Graphic Designing field by getting hands-on real-time experience. I
want to join the community so that I can improve and grow myself in
this field.
          <br>
- &nbsp;&nbsp;<a href='https://drive.google.com/file/d/1UQ3AurDnrVZTDSA8uYZ6tHe0UAGW8FRX/view?usp=sharing' target="_blank"><span style='color: blue'>View Course Completion Certificate</span></a><br/>
- &nbsp;&nbsp;<a href='https://drive.google.com/file/d/1M-C-e_aleZNveNWUTfKhFy5oKo9zJZ2p/view?usp=sharing' target="_blank"><span style='color: blue'>View Internship Certificate</span></a>
<br>- &nbsp;&nbsp;<a href='#lgm'><span style='color: blue'>View Posts</span></a></p>

<h1 style="font-size: 22px; font-family:Trebuchet MS;  line-height:35px;">&nbsp;&nbsp;&nbsp;&nbsp;<img class='example2' src='/images/VIT_1.png' width=140px height=50px> &nbsp;<span class='example'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Social Media Designer</span></h1>
<p style="font-size:19px; font-family:Trebuchet MS; line-height:35px;"><b>Social Media Designer - Office of Outreach - (Oct 2021 - Present) </b><br/>
  <b>VIT Chennai</b><br/>
</div>
</div>
</td></tr></table>


<br id='art'><br><br>
      <table align='center' width=100% id='t4'>
        <tr><td><br>
          <h2 align='center' style="font-size:40px; font-family:Times-Italic;"><i><b>Graphic Design</b></i></h2></td>
        </tr>
        
      </table>
      
      <div style="overflow-x:auto;">
      <table align='center' border=0px bgcolor="white" width=100% id='t5'>
        <tr>
          <td align='center' width=33% style='padding:15px;height:40px' id='t6'><div style='background-color:#f2f2f2; margin:30px; padding:15px;box-shadow: 10px 10px 5px #aaaaaa;'><img src='/images/pencil1.png' width=300px height=450px></div></td>
          <td align='center' width=33% style="height:40px" id='t6'><div style='background-color:#f2f2f2; margin:30px; padding:15px;box-shadow: 10px 10px 5px #aaaaaa;'><img src='/images/bear.png' width=400px height=400px></div></td>
          <td align='center' width=33% style="height:40px" id='t6'><div style='background-color:#f2f2f2; margin:30px; padding:15px;box-shadow: 10px 10px 5px #aaaaaa;'><img src='/images/Artboard 2.png' width=350px height=550px></div></td>
        </tr>

        <tr>
          <td align='center' width=33% style="height:40px" id='t6'><div style='background-color:#f2f2f2; margin:30px; padding:15px;box-shadow: 10px 10px 5px #aaaaaa;'><img src='/images/mango1.png' width=440px height=450px></div></td>
          <td align='center' width=33% style="height:40px" id='t6'><div style='background-color:#f2f2f2; margin:30px; padding:15px;box-shadow: 10px 10px 5px #aaaaaa;'><img src='/images/Capture1.png' width=300px height=450px></div></td>
           <td align='center' width=33% style='padding:15px;height:40px' id='t6'><div style='background-color:#f2f2f2; margin:30px; padding:15px;box-shadow: 10px 10px 5px #aaaaaa;'><img src='/images/CD1.png' width=300px height=300px></div></td>
        </tr>

        <tr>
          <td align='center' width=33% style="height:40px" id='t6'><div style='background-color:#f2f2f2; margin:30px; padding:15px;box-shadow: 10px 10px 5px #aaaaaa;'><img src='/images/bottle.png' width=200px height=450px></div></td>
          <td align='center' width=33% style="height:40px" id='t6'><div style='background-color:#f2f2f2; margin:30px; padding:15px;box-shadow: 10px 10px 5px #aaaaaa;'><img src='/images/Capture15.png' width=350px height=500px></div></td>
           <td align='center' width=33% style='padding:15px;height:40px' id='t6'><div style='background-color:#f2f2f2; margin:30px; padding:15px;box-shadow: 10px 10px 5px #aaaaaa;'><img src='/images/Capture14.png' width=300px height=300px></div></td>
        </tr>

        <tr>
          <td align='center' colspan = 2 width=50% style="height:40px" id='t6'><div style='background-color:#f2f2f2; margin:30px; padding:15px;box-shadow: 10px 10px 5px #aaaaaa;'><img src='/images/business1.png' width=600px height=350px></div></td>
          <td align='center' width=50% style="height:40px" id='t6'><div style='background-color:#f2f2f2; margin:30px; padding:15px;box-shadow: 10px 10px 5px #aaaaaa;'><img src='/images/Capture12.png' width=300px height=250px></div></td>
        </tr>

        <tr>
          <td align='center' colspan = 2 width=50% style="height:40px" id='t6'><div style='background-color:#f2f2f2; margin:30px; padding:15px;box-shadow: 10px 10px 5px #aaaaaa;'><img src='/images/business2.png' width=600px height=350px></div></td>
          <td align='center' width=50% style="height:40px" id='t6'><div style='background-color:#f2f2f2; margin:30px; padding:15px;box-shadow: 10px 10px 5px #aaaaaa;'><img src='/images/Capture13.png' width=300px height=250px></div></td>
        </tr>
        
        <tr>
          <td colspan="3">
            <br id='lgm'><br>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <h2 align='center' style="font-size:36px; font-family:Times-Italic;"><i><b>Lets Grow More - Posts<br></b></i></h2></td>
          </td>
        </tr>

        <tr>
          <td align='center' width=33% style='border: none;' id='t6'><br><img style='box-shadow: 10px 10px 5px #aaaaaa;' src='/images/16_Aug-LinkedIn_Post-Web_Dev.PNG' width=450px height=400px></div></td>
          <td align='center' width=33% style='border: none;' id='t6'><br><img style='box-shadow: 10px 10px 5px #aaaaaa;' src='/images/17_Aug_Insta-Linkedin_Post-BlockChain.png' width=430px height=400px></div></td>
          <td align='center' width=33% style='border: none;' id='t6'><br><img style='box-shadow: 10px 10px 5px #aaaaaa;' src='/images/24_Aug_Insta-Linkedin_Post-NVIDIA.png' width=400px height=400px></td>
        </tr>
        
        <tr>
          <td align='center' width=33% style='border: none;' id='t6'><br><br><br><img style='box-shadow: 10px 10px 5px #aaaaaa;' src='/images/3_Sept_Insta-Linkedin_Post-WWW.png' width=450px height=400px></div></td>
          <td align='center' width=33% style='border: none;' id='t6'><br><br><br><img style='box-shadow: 10px 10px 5px #aaaaaa;' src='/images/7_Sept_Insta-Linkedin_Post_Edge-Computing.png' width=430px height=400px></div></td>
          <td align='center' width=33% style='border: none;' id='t6'><br><br><br><img style='box-shadow: 10px 10px 5px #aaaaaa;' src='/images/11_Sept_Insta-Linkedin_Post_Leadership.png' width=400px height=400px></td>
        </tr>

        <tr>
          <td align='center' width=33% style='border: none;' id='t6'><br><br><br><img style='box-shadow: 10px 10px 5px #aaaaaa;' src='/images/24_Sept-Insta-LinkedIn_Post-Apple_Logo.png' width=450px height=400px><br><br><br></div></td>
          <td align='center' width=33% style='border: none;' id='t6'><br><br><br><img style='box-shadow: 10px 10px 5px #aaaaaa;' src='/images/Sample.jpeg' width=430px height=400px><br><br><br></div></td>
          
        </tr>

      </table> 
      </div>

<br><br><br id='co'>
<table align='center' width=100% style="background-color: #F1F3F6;">
<tr><td width=100%><br><p align='center' style="font-family:Trebuchet MS ; font-size:30px; background-color: #F1F3F6;"><i><b><br>Career Objective</b></i></span><br></p>
<p align='center' style="font-family:Trebuchet MS; font-size:22px; line-height: 35px; background-color: #F1F3F6;">To obtain a position that will allow me to use my technical skills and willingness to learn in making an organization successful</p><br></td></tr>
</table>
<!-- start -->

 <!-- end -->
<br id='cd'>
<br><br>
<table align='center' width=100% style="background-color: white;">
  <tr><td align='center' colspan=4><b><h2 align='center' style="font-size:40px; font-family:Times-Italic;"><i><b>Contact</b></i></h2></b><br></td></tr>
  <tr>
    <td align='center' width="25%"><a href="mailto:sahildonde7@gmail.com" target="_blank"><img src='/images/gmail.jpg' width=36px height=30px/></a><br><br></td>
    <td align='center' width="25%"><a href="https://www.linkedin.com/in/sahil-donde-b788a4193/" target="_blank"><img src='/images/linkedin1.jpg' width=36px height=30px/></a><br><br></td>
    <td align='center' width="25%"><a href="https://www.instagram.com/sahil_donde_751/" target="_blank"><img src='/images/insta.jpg' width=40px height=36px/></a><br><br></td>
    <td align='center' width="25%"><a href="https://github.com/Sahil0705" target="_blank"><img src='/images/github.png' width=40px height=35px/></a><br><br></td>
  </tr>

  <!-- <tr>
    <td align='right'><img src='assets/images/linkedin1.jpg' width=40px height=35px/>&nbsp;&nbsp;<br></td>
    <td><h2 style="font-size: 24px;"> &nbsp;&nbsp;<a href='https://www.linkedin.com/in/sahil-donde-b788a4193/' target="_blank">www.linkedin.com/in/sahil-donde-b788a4913</a></h2></td>
  </tr>
  <tr>
    <td align='right'><img src='assets/images/insta.jpg' width=40px height=35px/>&nbsp;&nbsp;<br><br><br></td>
    <td><h2 style="font-size: 24px;"> &nbsp;&nbsp;<a href="https://www.instagram.com/sahil_donde_751/" target="_blank">sahil_donde_751</a></h2><br><br></td>
  </tr> -->
  <tr><td></td></tr>
</table>

<br><br><br>
<table width=100% height=60px style="bottom:0; left:0; right:0; background-color: black;">
  <tr><td align='center'><font color=white size=4px>Copyright 2021 @Sahil Sachin Donde</font></td></tr></table>


<script>
  $('#panels').accordion(
    {
      collapsible:1,
      event:'click',
      animate:1000,
      active:false,
      heightStyle:true,
      icons:
      {
        header:'ui-icon-plus',
        activeHeader:'ui-icon-minus'
      }
    }
  );


</script>

<script>
  $('#panels1').accordion(
    {
      collapsible:1,
      event:'click',
      animate:1000,
      active:false,
      heightStyle:true,
      icons:
      {
        header:'ui-icon-plus',
        activeHeader:'ui-icon-minus'
      }
    }
  );


</script>




  

</body>
</html>

